.cases{
    position: relative;
}

.cases__inner{
    min-height:300px;
    justify-content: space-between;
    line-height: 1;
    margin-bottom: 114px;
}

.cases__top{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-end;
}

.cases__title{
    font-size: 60px;
    font-weight: 500;
    max-width: 480px;
    color: var(--black);
}

.cases__text{
    font-size: 32px;
    font-weight: 400;
    margin-right: 30px;
    margin-bottom: -18px;
    color: var(--grey);
    max-width: 580px;
    width: 100%;
    gap: 70px;
    line-height: 1.3;
}

.cases__img{
    margin-top: 114px;
    gap: 70px;
}

.cases__card{
    display: flex;
    justify-content: space-between;
}

.cases__card:not(:last-child){
    margin-bottom: 106px;
}

.cases__content{
    display: flex;
    flex-direction: column;
    max-width: 355px;
    width: 100;
}

.cases__number{
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 25px;
    max-width: 326px;
    width: 100%;
}

.cases__description{
    display: flex;
    max-width: 356px;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 40px;
    line-height: 24px;
    width: 100%;
}

.cases__subtext{
    display: flex;
    font-size: 14px;
    max-width: 315px;
    color: var(--grey);
    font-weight: 400;
    line-height: 1.2;
    width: 100%;
}

.cases__link{
    font-size: 18px;
    text-decoration: underline;
    margin-top: auto;
    max-width: max-content;
    color: var(--black);
    transition: color .4s;
    background-color: .4s;
}

.cases__img2{
    height: auto;
    gap: 40px;
}

.cases__seperator{
    width: 100%;
    height: 2px;
    color: var(--black);
    margin-top: 134px;
    margin-bottom: 114px;
}



.cases__link2{
    font-size: 18px;
    text-decoration: underline;
    margin-top: auto;
    max-width: max-content;
    color: var(--grey);
    transition: color .4s;
    background-color: .4s;
}