.header{
    margin: 50px 0 120px;
    color: var(--black);
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__nav{
    gap: 40px;
    display: flex;
    align-items: center;
}

.header__list{
    display: flex;
    gap: 30px;
    align-items: center;
}

@media (max-width:1200px){
    .header{
        margin-bottom: 100px;
    }

    .header__list{
        gap: 28px;
    }

    .header__link{
        font-size: 19px;
    }
}

@media (max-width: 1100px){
    .header{
        margin-bottom: 80px;
    }
}

@media (max-width: 1000px){
    .header{
        margin-bottom: 80px;
    }
}

@media (max-width: 860px){
    .header{
        margin-bottom: 75px;
    }
}

@media (max-width: 768px) {
    .header__link{
        font-size: 18px;
    }
}

@media (max-width: 470px) {
    .header__nav{
        display: none;
    }
}

@media (max-width: 400px){
    .header{
        margin-bottom: 50px;
    }
}